*{
    padding:0;
    margin:0;
}

.bloc{
    width: 100%;
    position: relative;
}

.blue{
    color:#44a8dc;
}

.ropa{
    font-family: "Ropa Sans" , sans-serif;
}

.roboto{
    font-family: "Roboto" , sans-serif;
}

#wrapbloc3 {
    width: 28%;
    height: 100%;
    margin: 0px 20px 0px 40px;
    font-family: 'SegoeUI', sans-serif;
    position: relative;
}


/**************  header  **************/

#header{
    height:90px;
}

.logo{
    position: absolute;
    top: 21px;
    left: 21px;
}

.menu li{
    display: inline-block;
    padding: 0px 20px 30px 20px;
    font-family: "Ropa Sans" , sans-serif;
    font-size: 14px;
}

li:hover{
    color: #44a8dc;
    border-bottom: 3px solid #44a8dc;
    padding: 0 0 30px 0;
}

.menu  ul{
    position: absolute;
    left: 100px;
    top: 40px;
}

.connect li{
    display: inline-block;
    padding: 0px 20px 30px 20px;
    font-family: "Ropa Sans" , sans-serif;
    font-size: 14px;
}

.connect  ul{
    position: absolute;
    left: 74%;
    top: 40px;
}

.connect img {
    padding: 0 10px 0 0;
}

/**************  bloc1  **************/

#bloc1{
    height: 610px;
    position: relative;
}

.basket{
    position: absolute;
    top:157px;
    left:130px;
}

.wrapper{
    width: 320px;
    margin: 0 auto;
    position: absolute;
    top:60px;
    left:854px;
    height: 400px;
}

.coeur{
    padding: 20px;
    border: 1px solid #e4e4e4;
}

.wrapper h2{
    font-size: 25px;
    padding: 40px 0 6px 0;
}

.wrapper h3{
    font-size: 35px;
    padding-bottom: 5px;
}

.wrapper p{
    font-size: 16px;
    color: #808080;
    padding: 15px 0 10px 0;
}

.price{
    font-size: 18px;
    color: #808080;
    
}

.size{
    font-size: 12px;
    color: #c1c1c1;
}

#sizechart{
    border: 3px solid #8f8f8f;
    width: 147px;
    height: 50px;
    background: rgba(68,78,86,0);
    margin-top: 14px;
}

#Butt{
    width: 147px;
    height: 50px;
    padding: 10px;
    border: 1px solid;
    background-color: #333333;
    color: white;
    text-transform: uppercase;
    font-family: 'Ropa Sans',sans-serif;
    font-size: 14px;
    margin-left: 20px;
}



/**************  bloc2  **************/

#bloc2{
    height: 660px;
    background: url("images/bloc2/fond.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#bloc2 h2{
    font-size: 25px;
    color: white;
    position: absolute;
    top:260px;
    left:50px;
}

#bloc2 p{
    font-weight: lighter;
    width: 398px;
    height: 96px;
    line-height: 25px;
    position: absolute;
    top:305px;
    left:50px;
    color: white;
}

/**************  bloc3  **************/

#bloc3{
    height: 660px;
    background: url("images/bloc3/bgnike.png");
}

.wrap{
    width: 302px;
    margin: 0 auto;
    background-color: #ffffff;
    height: 430px;
    border: 5px solid #e4e4e4;
    position: absolute;
    top:117px;
    right: 110px;
}

.wrap h2{
    font-size: 25px;
    padding: 30px 0px 0 27px;
}

.wrap h3{
    font-size: 14px;
    padding: 17px 0 0 27px;
    color: #dddddd;
}

.color{
    font-size: 14px;
    padding: 20px 0 0 27px;
}

.mini{
    padding: 51px 0 0 22px;
}

.stock{
    padding: 40px 0 0 30px;
}

.wrap span{
    position: absolute;
    left: 212px;
    top: 342px;
} 

#histoire {
    position: absolute;
    top:100px;
}

#origin {
    position: absolute;
    top:119px;
}

#revol {
    position: absolute;
    top:160px;
    color:#949494;
}

.ben {
    position: absolute;
    top:310px;
}

.lay {
    position:absolute;
    top:375px;
}

.for {
    position:absolute;
    top:400px;
}

.inj {
    position:absolute;
    top:430px;
}

.out {
    position:absolute;
    top:455px;
}

.max {
    position:absolute;
    top:485px;
}

.del {
    position:absolute;
    top:510px;
}

.rubb {
    position:absolute;
    top:540px;
}

.durable {
    position: absolute;
    top:565px;
}

.subtitle3 {
    font-family: 'Ropa Sans',sans-serif;
    font-size: 18px;
    color:#333333;
    text-transform: uppercase;
}

.text{
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    color:#8f8f8f;
}

.title {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 14px;
    color:#666666;
    text-transform: uppercase;
}

.AA {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#8f8f8f;
    font-weight: lighter;
    line-height: 2;
    white-space: pre-line;
}


.Nike {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 25px;
    color:#333333;
    text-transform: uppercase;
}

/**************  bloc4  **************/

#bloc4{
    height: 660px;
    background-color: white;
}

#bloc4 p{
    font-size: 14px;
    color: #c1c1c1;
    position: absolute;
    top:111px;
    left:75px;
}

#bloc4 span{
    font-size: 25px;
    color: black;
    position: absolute;
    top:125px;
    left:75px;
}
